xformers
omegaconf==2.3.0
accelerate
einops
opencv-python
scipy
ftfy
regex
python-dateutil
timm
pytorch-lightning
facexlib
gradio
gradio_imageslider
gradio_client
torchsde
bitsandbytes
imageio
einops
transformers==4.34.0
kornia
torchmetrics
pillow
matplotlib
wandb
fastapi
requests
sentencepiece
tokenizers==0.14.1
uvicorn==0.21.1
scikit-learn
openai-clip==1.0.1
fsspec
kornia
open-clip-torch==2.16.0
pandas
k-diffusion==0.1.1.post1
diffusers
